[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyinstaller = "*"
pdbpp = "*"
ptipython = "*"
pytest-sugar = "*"
flake8 = "*"
mypy = "*"

[packages]
bcompiler-engine = {editable = true,path = "/home/lemon/code/python/bcompiler-engine"}
python-dateutil = "*"
click = "*"
datamaps = {editable = true,path = "."}

[requires]
python_version = "3.7"
